<div class="container">
  <div class="row mb-3">
    <p class="h1">{{product.name}}</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img class="img-detail" src="../../../../../files/{{product.file}}" />
    </div>
    <div class="col-md-6">
      <div class="row mb-4">
        <p class="h6 label-desc">{{product.description}}</p>
      </div>
      <div class="row mb-4">
        <p class="h2">$ {{product.price | number:'1.2-2'}}</p>
      </div>
      <div class="row">
        <div class="btn-group">
          <button class="btn btn-primary btn-lg" (click)="buy()">Buy</button>
        </div>
        <div class="btn-group btn-group-spaced">
          <a [routerLink]="['/']" class="btn btn-danger btn-lg">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
