<div class="text-center">
  <form class="form-signin">
    <p class="h4 mb-2">User Login</p>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" class="form-control mb-2" id="inputEmail" name="email" placeholder="Enter your email" />

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" class="form-control mb-3" id="inputPassword" name="password" placeholder="Enter your password" />

    <button class="btn btn-primary btn-block" type="submit">Enter</button>
  </form>
</div>
