<div class="containter">
  <div class="row">
    <div class="col-md-9">
      <table class="table table-hover">
        <thead>
          <tr class="d-flex">
            <th class="col-2"></th>
            <th class="col-4">Product</th>
            <th class="col-2">Quantity</th>
            <th class="col-2">Price</th>
            <th class="col-2"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="d-flex" *ngFor="let p of products">
            <td class="col-2">
              <img class="img-table-purchase" src="../../../../../files/{{p.file}}" />
            </td>
            <td class="col-4">{{p.name}}</td>
            <td class="col-2">
              <input type="number" class="form-control" min="1" value="1" (change)="updatePrice(p, $event.target.value)" [(ngModel)]="p.quantity" placeholder="1" />
            </td>
            <td class="col-2">$ {{p.price | number:'1.2-2'}}</td>
            <td class="col-2"><button class="btn btn-secondary btn-sm" (click)="removeProduct(p)">Remove</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <div class="row justify-content-center">
        <div class="card col-md-12">
          <div class="card-header">Order Summary</div>
          <div class="card-body">
            <p class="mb-4 h3">Total:  <strong>$ 1000.00</strong></p>
            <button class="btn btn-primary btn-lg btn-block">Buy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
