<h1 class="h4 title">Product</h1>
<label for="inputName" class="sr-only">Name</label>
<input type="text" id="inputName" name="productName" placeholder="Product's name"
       class="form-control mb-2 col-md-4" [(ngModel)]="product.name" #name="ngModel"
       [ngClass]=""
       required />

<label for="inputDescription" class="sr-only">Description</label>
<input type="text" id="inputDescription" name="productDescription" placeholder="Product's description"
       class="form-control mb-2 col-md-4" [(ngModel)]="product.description" #description="ngModel"
       [ngClass]=""
       required />

<label for="inputPrice" class="sr-only">Price</label>
<input type="number" id="inputPrice" name="productPrice" placeholder="Price"
       class="form-control mb-2 col-md-4" [(ngModel)]="product.price" #price="ngModel"
       [ngClass]=""
       required />

<div class="input-group">
  <div class="custom-file mb-2 col-md-4">
    <input type="file" class="custom-file-input" id="inputFile" />
    <label for="inputFile" class="custom-file-label">Choose a photo </label>
  </div>
</div>
