<p class="h4 mb-2">Products Search</p>
<p *ngIf="!products">Loading...</p>

<button class="btn btn-primary mb-2" (click)="addProduct()">Add</button>
<div class="container-fluid">
  <table class="table table-hover" *ngIf="products">
    <thead>
      <tr class="d-flex">
        <th class="col-2">Name</th>
        <th class="col-4">Description</th>
        <th class="col-2">Price</th>
        <th class="col-2">Image</th>
        <th class="col-2"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex" *ngFor="let p of products">
        <td class="col-2">{{p.name}}</td>
        <td class="col-4">{{p.description}}</td>
        <td class="col-2">$ {{p.price | number:'1.2-2'}}</td>
        <td class="col-2"><img class="img-fluid img-grid" src="../../../../../files/{{p.file}}" /></td>
        <td class="col-2">
          <div class="btn-group">
            <button class="btn btn-outline-success btn-md fa fa-edit" (click)="editProduct(p)"></button>
          </div>
          <div class="btn-group btn-left-margin">
            <button class="btn btn-outline-danger btn-md fa fa-trash" (click)="removeProduct(p.id)"></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
