<div *ngIf="!products">Loading...</div>
<div class="container" *ngIf="products">
  <div class="row justify-content-center">
    <div class="col-md-3 mb-1 d-flex align-items-stretch" *ngFor="let p of products">
        <a class="card card-link shadow-sm p-3 mb-5 bg-white rounded" (click)="openProductDetail(p)">
          <img class="card-img-top card-img-style" src="../../../../../files/{{p.file}}" />
          <div class="card-body d-flex flex-column">
            <h6 class="card-title">{{p.name}}</h6>
          </div>
          <div class="card-footer">
            <p class="h5 card-text align-self-end">$ {{p.price | number:'1.2-2'}}</p>
          </div>
        </a>
    </div>
  </div>
</div>
