<div *ngIf="!products">Loading...</div>
<div class="container" *ngIf="products">
  <div class="row">
    <div class="col-md-4 mb-2 d-flex align-items-stretch" *ngFor="let p of products">
      <a class="card-link" (click)="openProductDetail(p)">
        <div class="card">
          <img class="card-img-top card-img-style" src="../../../../../files/{{p.file}}" />
          <div class="card-body">
            <h6 class="card-title">{{p.name}}</h6>
            <p class="h5">{{p.price}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
