<p class="h4 mb-2">Products Search</p>
<p *ngIf="!products">Loading...</p>

<button class="btn btn-primary mb-2" (click)="addProduct()">Add</button>
<div class="container-fluid">
  <table class="table table-hover" *ngIf="products">
    <thead>
      <tr class="d-flex">
        <th class="col-2">Name</th>
        <th class="col-5">Description</th>
        <th class="col-1">Price</th>
        <th class="col-2">Image</th>
        <th class="col-2"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex" *ngFor="let p of products">
        <td class="col-2">{{p.name}}</td>
        <td class="col-5">{{p.description}}</td>
        <td class="col-1">{{p.price}}</td>
        <td class="col-2"><img class="img-fluid img-grid" src="../../../../../files/{{p.file}}" /></td>
        <td class="col-2">
          <div class="btn-group">
            <a class="btn btn-outline-primary" href="#">Edit</a>
            <a class="btn btn-outline-primary" href="#">Remove</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
